<div class="content">
  <div class="col-md-12">
    <div class="card col-md-4">
      <div class="card-header"><h5 class="title">Renk Ekle</h5></div>
      <div class="card-body">
        <form [formGroup]="colorAddForm">
          <div class="mb-3">
            <label for="colorName">Renk adı</label>
          </div>
          <div class="form-group">
            <input
              type="text" id="colorName" formControlName="colorName"
              class="form-control"
              placeholder="Renk giriniz"
            />
          </div>
        </form>
      </div>
      <div class="card-footer">
        <button class="btn btn-success" (click)="add()">Kaydet</button>
    </div>
    </div>
  </div>
</div>
