<div class="container my-5">
  <div class="row">
    <div class="col-7">
      <div
        *ngIf="dataLoaded == false"
        class="spinner-border m-5"
        role="status"
      ></div>
      <div
        id="carouselExampleIndicators"
        class="carousel slide"
        data-ride="carousel"
      >
        <div class="carousel-inner">
          <div
            *ngFor="let carImage of carImages; let i = index"
            [ngClass]="sliderActiveItemClass(i)"
          >
            <img
              class="d-block"
              src="{{ apiURL }}{{ carImage.imagePath }}"
              alt="First slide"
            />
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="row">
        <ul class="list-group" *ngIf="dataLoaded == true">
          <li class="list-group-item">
            <b>Marka:</b> {{ carDetails.brandName }}
          </li>
          <li class="list-group-item">
            <b>Renk:</b> {{ carDetails.colorName }}
          </li>
          <li class="list-group-item">
            <b>Model:</b> {{ carDetails.modelYear }}
          </li>
          <li class="list-group-item">
            <b>Açıklama</b>: {{ carDetails.description }}
          </li>
          <li class="list-group-item">
            <b>Günlük Ücret:</b> {{ carDetails.dailyPrice }}
          </li>
          <li class="list-group-item">
            <b>Gerekli Findeks Puanı:</b> {{ carDetails.minFindeksScore }}
          </li>
        </ul>
        <div class="row my-2" *ngIf="!rentable">
          <div class="alert alert-warning" role="alert">
            Bu araç zaten kiralanmış
          </div>
      </div>
      <div class="row" *ngIf="rentable">
        <form [formGroup]="rentDatesForm">
          <div class="col-12">
            <div class="form-group row">
              <label for="rentDateTime" class="col-6 col-form-label"
                >Kiralama Tarihi</label
              >
              <div class="col-12">
                <input
                  class="form-control"
                  type="date"
                  value="2011-08-19"
                  id="rentDateTime"
                  formControlName="rentDate"
                />
              </div>
            </div>
            <div class="form-group row my-2">
              <label for="returnDateTime"  class="col-6 col-form-label"
                >Dönüş Tarihi</label
              >
              <div class="col-12">
                <input
                  class="form-control"
                  type="date"
                  value="2011-08-19"
                  id="returnDateTime"
                  formControlName="returnDate"
                />
              </div>
            </div>
            <button type="button" (click)="addRental()" class="btn btn-info">
              Kirala
            </button>
            <button type="button" (click)="CalculateRentPrice()" class="btn btn-info">
              Hesapla
            </button>
          </div>
        </form>
      </div>
      
      </div>
    </div>
  </div>
</div>
