<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Marka</th>
        <th scope="col">Renk</th>
        <th scope="col">Müşteri Adı</th>
        <th scope="col">Şirket Adı</th>
        <th scope="col">Kiralama Tarihi</th>
        <th scope="col">Teslim Tarihi</th>
      </tr>
    </thead>
    <tbody *ngFor="let rental of rentals">
      <tr>
        <th scope="row">{{rental.id}}</th>
        <td>{{rental.brandName}}</td>
        <td>{{rental.colorName}}</td>
        <td>{{rental.name}}</td>
        <td>{{rental.companyName}}</td>
        <td>{{rental.rentDate|date:"dd/MMM/yy"}}</td>
        <td>{{rental.returnDate|date:"dd/MM/yy"}}</td>
      </tr>

    </tbody>
  </table>